<!-- Menu -->
<nav class="menu" id="theMenu">
    <div class="menu-wrap">
        <h1 class="logo"><a href="{{ site.baseurl }}">MENU</a></h1>
        <i class="fa fa-remove menu-close"></i>
        <a href="{{ site.url }}">Home</a>
        <a href="{{ site.url }}/blog">Blog</a>
        <a href="{{ site.url }}/works">Works</a>
        <a href="{{ site.url }}/contact">Contact</a>
        <a href="http://facebook.com/marquezjohnvinny" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="http://twitter.com/jvinnymarquez" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="mailto:johnvinnymarquez@gmail.com" target="_blank"><i class="fa fa-youtube"></i></a>
        <a href="mailto:johnvinnymarquez@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
    </div>

    <!-- Menu button -->
    <div id="menuToggle"><i class="fa fa-bolt"></i></div>
</nav>