<!-- Menu -->
<nav class="menu" id="theMenu">
    <div class="menu-wrap">
        <h1 class="logo"><a href="{{ site.baseurl }}">METANOIA</a></h1>
        <i class="icon-remove menu-close"></i>
        <a href="{{ site.baseurl }}">Home</a>
        <a href="{{ site.baseurl }}/blog">Blog</a>
        <a href="{{ site.baseurl }}/works">Works</a>
        <a href="{{ site.baseurl }}/contact">Contact</a>
        <a href="http://facebook.com/marquezjohnvinny"><i class="icon-facebook"></i></a>
        <a href="http://twitter.com/jvinnymarquez"><i class="icon-twitter"></i></a>
        <a href="mailto:johnvinnymarquez@gmail.com"><i class="icon-youtube"></i></a>
        <a href="mailto:johnvinnymarquez@gmail.com"><i class="icon-envelope"></i></a>
    </div>

    <!-- Menu button -->
    <div id="menuToggle"><i class="icon-reorder"></i></div>
</nav>