@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Cantarell');

// Typography
$base-font    : 'Cantarell', sans-serif;
$alt-font     : 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
$heading-font : 'Fjalla One', sans-serif;

// Colors
$accent-color : #031634;