<!DOCTYPE html>
<html>

{% include bloghead.html %}

<body data-spy="scroll" data-offset="0" data-target="#theMenu" class="pattern">
{% include header.html %}

<div class="bs-docs-section">
    {{ content }}
</div>
{% if page.landing != true %}
    {% include footer.html %}
{% endif %}
</div>

<script type="text/javascript">
     SyntaxHighlighter.all()
</script>

<script src="{{ site.baseurl }}/assets/themes/dark/js/classie.js"></script>
<script src="{{ site.baseurl }}/assets/themes/dark/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/themes/dark/js/smoothscroll.js"></script>
<script src="{{ site.baseurl }}/assets/themes/dark/js/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script src="{{ site.baseurl }}/assets/plugins/picturefill/picturefill.min.js"></script>
</body>
</html>