---
layout: blog
---
<div class="container">
    <div class="row centered">
        <div class="col-lg-9 col-lg-offset-2">
            <h2><a href="{{site.url}}/blog">METANOIA</a></i></h2>
            <span>Day to day, from point A to Point B.</span><br>
            <span>A blog about my passions, interests and the continuous learning process.</span>
            <br>
            <br>
        </div>
    </div>
</div>

<div class="container">
    {% if page.type == 'preview' %}
    <div class="row">
        <div class="col-lg-9 col-lg-offset-2">
            <div class="post">
                <div class="demo">
                    <img src="{{ page.preview_url }}"/>
                </div>
                <div class="content">
                    <h1><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
                    {{ page.date | date: "%b %-d, %Y" }}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    {% for tag in page.tags %}
                    #{{ tag }}&nbsp;&nbsp;&nbsp;
                    {% endfor %}
                    <br>
                    <br>
                    <p>
                        {{ page.content | markdownify }}
                    </p>
                    <br>
                    <br>
                    {% include disqus.html %}
                </div>
            </div>
        </div>
    </div>
    {% elsif page.type == 'quote' %}
    <div class="row">
        <div class="col-lg-9 col-lg-offset-2">
            <div class="post">
                <div class="quote centered">
                    <span class="content">"{{ page.quote }}"</span>
                    <br>
                    <br>
                    <span class="cite"> - {{ page.cite }} - </span>
                </div>
                <div class="content">
                    <h1><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
                    {{ page.date | date: "%b %-d, %Y" }}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    {% for tag in page.tags %}
                    #{{ tag }}&nbsp;&nbsp;&nbsp;
                    {% endfor %}
                    <br>
                    <br>
                    <p>
                        {{ page.content | markdownify }}
                    </p>
                    <br>
                    <br>
                    {% include disqus.html %}
                </div>
            </div>
        </div>
    </div>
    {% elsif page.type == 'soundcloud' %}
    <div class="row">
        <div class="col-lg-9 col-lg-offset-2">
            <div class="post">
                <iframe width="100%" height="175" scrolling="no" frameborder="no" src="{{ page.preview_url }}"></iframe>
                <div class="content">
                    <h1><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
                    {{ page.date | date: "%b %-d, %Y" }}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    {% for tag in page.tags %}
                    #{{ tag }}&nbsp;&nbsp;&nbsp;
                    {% endfor %}
                    <br>
                    <br>
                    <p>
                        {{ page.content | markdownify }}
                    </p>
                    <br>
                    <br>
                    {% include disqus.html %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-lg-9 col-lg-offset-2">
            <div class="post">
                <div class="content">
                    <h1><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
                    {{ page.date | date: "%b %-d, %Y" }}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    {% for tag in page.tags %}
                    #{{ tag }}&nbsp;&nbsp;&nbsp;
                    {% endfor %}
                    <br>
                    <br>
                    <p>
                        {{ page.content | markdownify }}
                    </p>
                    <br>
                    <br>
                    {% include disqus.html %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>